<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" http-equiv="Content-Type" content="width=device-width, initial-scale=1.0">
    <title>Main - WebCoding</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link
		rel="stylesheet"
		data-name="vs/editor/editor.main"
		href="../node_modules/monaco-editor/min/vs/editor/editor.main.css"
	/>

    <style>
        .main-page {
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="main-page container">
        
    </div>    
    <script>
        var require = { paths: { vs: './node_modules/monaco-editor/min/vs' } };
        document.addEventListener("DOMContentLoaded", function () {
            AJAX.get(
                "/api/folder/..%2F", 
                {
                    success: function (data) {
                        console.log(data);
                        cSystemCall.notify(data, "folder list");
                    }
                }
            );
        })
    </script>
    <script type="text/javascript" src="/static/js/request.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/monaco-editor/min/vs/loader.js"></script>
    <script src="/node_modules/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
    <script src="/node_modules/monaco-editor/min/vs/editor/editor.main.js"></script>
</body>
</html>